* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  user-select: none;
}
html {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  scroll-behavior: smooth;
  font-size: 10px;
}
a {
  text-decoration: none;
  cursor: pointer !important;
}

#header {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
