.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 6rem;
}

.option img {
  height: 24rem;
  border-radius: 1.2rem;
  object-fit: cover;
  width: 100%;
}

.option {
  flex: 1;
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  padding: 1rem 2rem 1.6rem;
  border: 1px solid rgb(232, 232, 232);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}
.info-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-aling: left;
}

.info-description {
  color: rgb(79, 79, 79);
  font-weight: 400;
  font-size: inherit;
  line-height: 1.5;
  margin: 0px;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
