.top {
  position: relative;
  height: calc(100vh - 30rem);
  min-height: 42rem;
  max-height: 57rem;
  margin-bottom: 4rem;
}

.top .bg-img {
  position: absolute;
  /* z-index: -1; */
  height: calc(100vh - 30rem);
  min-height: 42rem;
  max-height: 57rem;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.top .center-content {
  position: absolute;
  bottom: calc(50% - 11.1rem);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .zomato-logo {
  height: 6rem;
  width: 30rem;
  position: relative;
}

h1 {
  color: white;
  font-weight: 200;
  font-size: 3.6rem;
  text-align: center;
  margin-top: 3rem;
}
.city {
  font-weight: 400;
}
.top .search-container {
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 3.4rem;
  height: 5.4rem;
  border: 1px solid rgb(232, 232, 232);
  align-items: center;
}
.top .search-container input {
  border: none;
}
.search-container > div {
  display: flex;
  align-items: center;
}

.top .search-container .location {
  width: 24rem;
  justify-content: space-around;
  padding: 0 1rem;
}
.top .search-container .location svg {
  color: rgb(255, 126, 139);
}
.top .search-container .search {
  width: 53rem;
}
.top .search-container .search-icon svg {
  color: rgb(130, 130, 130);
}
.top .search-container .search-icon {
  width: 6rem;
  margin: -1px -0.6rem -1px -1px;
}
.top .search-container .line {
  height: 2rem;
  width: 0rem;
  border: 0.05rem solid rgb(207, 207, 207);
}
.top .search-container .search-box {
  width: 100%;
  font-size: 1.4rem;
  border-radius: 0.8rem;
}

@media (max-width: 800px) {
  .zomato-logo {
    height: 3rem !important;
    width: 16rem !important;
  }
  main .top .search-container {
    flex-direction: column;
    width: calc(100% - 2.4rem);
    border-radius: 0.8rem;
  }
  main .top .search-container .location {
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    height: 5rem;
  }
  main .search-container .location input {
    flex: 1;
  }
  main .search-container .search {
    margin-top: 1.8rem;
    background-color: white;
    padding: 1.5rem 1rem;
    width: 100% !important;
    justify-content: space-between;
    border-radius: 0.8rem;
  }
  main .search-container .search svg {
    width: fit-content;
  }

  main .search-container .search input {
    margin-left: 1.5rem;
  }
}
